<?xml version="1.0" ?>
<model>
    <name>low_poly_forest</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>
    Extracted from https://www.blendswap.com/blend/12925

    </description>
</model>
