<?xml version="1.0" ?>
<model>
    <name>japanese_teahouse</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>
    Extracted from https://3dwarehouse.sketchup.com/model/9958636432c067d7f9ffab57b2e03481/Japanese-traditional-house

    </description>
</model>
