<?xml version="1.0" ?>
<model>
    <name>mini_golf_circuit</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>
    Extracted from https://3dwarehouse.sketchup.com/model/1332f5cc-3667-44cc-bebf-cea30c564bc0/Landscaped-Mini-Golf

    </description>
</model>
