<?xml version="1.0" ?>
<model>
    <name>golf_circuit_small</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>
    Extracted from https://3dwarehouse.sketchup.com/model/142d0b06c3bb671df0cf865750ef99d9/Golf-Course

    </description>
</model>
